/* custom.css */

.reveal .slides {
    /* diminui o tamanho geral da fonte */
    font-size: 0.85em;
}

/* títulos um pouco maiores */
.reveal .slides h1 {
    font-size: 2.2em;
}

.reveal .slides h2 {
    font-size: 1.8em;
}